Package: multish
Version: 1.3.0
Architecture: all
Maintainer: Raul Tierno<adminies.castuera1@educarex.es>
Depends: tmux,sshpass,nmap,ldapscripts,wakeonlan
Description: multish allows you to connect and act in multiple ssh connection simultaneously
