Package: multish
Version: 0.2.1
Architecture: all
Maintainer: Raul Tierno<adminies.castuera1@educarex.es>
Depends: tmux,sshpass
Description: multish allows you to connect and act in multiple ssh connection simultaneously
